/* body related styles */
body {
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;

    margin: 0px;
    margin-top: 0px;
    padding: 0px;
}

/* header related styles */

header {
    background-image: url("../images/banner/banner1.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 800px;
    display: flex;
    justify-content: flex-end;
    text-align: center;




}

.banner-content {
    padding: 200px 180px;
    display: block;
    text-align: right;
    max-width: 550px;

}

.banner-title {

    font-weight: 700;
    font-size: 60px;
    text-align: right;
    color: #151414;
    margin-bottom: 20px;

}

.banner-description {
    font-weight: 400;
    font-size: 16px;
    text-align: right;
    color: #444343;
    margin-top: 0px;
    margin-bottom: 20px;
    padding-left: 45px;

}

.btn-primary {
    margin-top: 10px;
    padding: 16px 30px;
    background: #F15B22;
    border-radius: 5px;
    border: 0;

    font-weight: 600;
    font-size: 20px;
    text-align: center;

    color: #FFFFFF;


}

/* main section related styles */

section {

    display: flex;
    height: 600px;
    background: #FFFFFF;
    margin: 100px 130px;
    justify-content: space-around;


}

.failure-content {
    max-width: 50%;
    justify-content: space-around;
    text-align: left;


}

.failure-img {
    width: 420px;
    height: 520px;
}

.failure-info {
    padding: 100px 0px;
}

.section-title {

    font-weight: 700;
    font-size: 40px;
    color: #151414;
    max-width: 400px;


}

.failure-description {
    font-weight: 400;
    font-size: 16px;
    color: #444343;
    max-width: 400px;

}

.failure-list {
    padding: 0;
    font-weight: 400;
    font-size: 16px;
    color: #444343;
    display: block;
    list-style: none;

}

.my-plan {
    padding-left: 400px;
    margin-top: -50px;


}

.my-plan-details {
    margin: 80px auto;
    display: flex;
    justify-content: space-around;
    gap: 70px;
    text-align: center;
    padding-left: 30px;
}

.section-my-plan {
    display: block;
    justify-content: space-around;
    text-align: center;
    width: 1150px;
    height: 350px;
}

.my-plan-item h3 {
    margin-top: 12px;
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 30px;
    text-align: center;
    color: #151414;
}

.my-plan-item h5 {
    margin-top: 0px;
    font-weight: 500;
    font-size: 25px;
    text-align: center;
    color: #737272;


}

.call-now-section {
    width: 1150px;
    height: 350px;
    background-image: url("../images/watch.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.gradient-back {
    background-image: url("../images/gradient2.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 1150px;
    height: 350px;
}

.call-now-content {
    margin-top: 0px;
    padding: 50px 100px;
}

.call-now-content h2 {
    font-weight: 700;
    font-size: 35px;
    text-align: left;
    color: #FFFFFF;
    max-width: 400px;
}

.btn-secondary {
    margin-top: 10px;
    padding: 16px 30px;
    background: #FFFFFF;
    border-radius: 5px;
    border: 0;

    font-weight: 600;
    font-size: 20px;
    text-align: center;

    color: #F15B22;
}


/* footer section related styles */

footer {
    width: auto;
    height: 400px;
    background: #151414;
    display: flex;
    justify-content: space-around;
    padding: 80px 100px;
    margin-top: 150px;

}

.footer-column {
    width: 50%;
    display: block;
    align-items: center;
    padding: 50px 100px;

}

.footer-column h2 {
    font-weight: 700;
    font-size: 35px;
    text-align: left;
    color: #FFFFFF;
    max-width: 400px;
    margin-bottom: 20px;
}

.footer-column p {
    font-weight: 400;
    font-size: 16px;
    color: #FFFFFF;
    max-width: 400px;
    margin-bottom: 20px;
}

.footer-column ul {
    list-style: none;
    padding: 0;
    color: #FFFFFF;

}

.footer-column li {
    margin-bottom: 20px;
}

.footer-icon {
    margin-top: 30px;
    gap: 24px;
    display: flex;
}

.subscribe-title {
    font-weight: 500;
    font-size: 28px;
    text-align: left;
    color: #FFFFFF;
    max-width: 400px;
    margin-bottom: 20px;
}

.footer-column input {
    padding: 16px;
    width: 60%;
    margin-bottom: 12px;
    background: transparent;
    
    border: 1px solid #fafafa;
    
    border-radius: 5px;
    color: #FFFFFF;



}